@import url(https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

/*font-family: 'Comfortaa', cursive;
font-family: 'Noto Sans', sans-serif;*/

.content-manager{
	position: relative;
	width:100vw;
	margin: auto;
	overflow: auto;
}

.content-manager > *{
	margin: auto;
	margin-top: 30px;
	max-width: 90vw;
	padding: 30px;
}

.content-element{
	background-color: white; /*rgba(255, 255, 223, 0.8);
   background-color: rgba(0,0,0,0.8);
   color: white;
   border: 2px solid rgba(48, 32, 62,0.7);*/
   text-align: center;
}

.page-title-bar{
	float:left;
	margin: 0;
	width: 100vw;
	height: 65px;
    color: white;
    margin-bottom: 60px;
    background-color: black;/*rgba(255, 153, 102, 1.0)*/;
}

.page-title{
	float: left;
	margin:0;
	margin-top: 5px;
}

.footer{
	position: fixed;
	width: 100vw;
	min-height: 140px;
	background-color: black;
    color: white;
	bottom: 0px;
	left: 0px;
}

body{
	background-image: url("./img/bg/geometric2.png");
    background-repeat: repeat;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
}

h1{
	padding-left: 20px;
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
}

#strawberry-header-icon{
	margin-top: 10px;
}

#about-me-content{
	margin-bottom: 140px;
}

#tyo-pic{
	max-width:100%;
	max-height:50%;
}

#boats-pic{
	max-width:50%;
	max-height:50%;
}

#social-media-links{
	width: 538px;
	position: relative;
	margin: auto;
	margin-top: 36px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: normal;
}

#facebook-link{
	float: left;
	background-image: url("./img/ico-sm/1458523589_facebook-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#twitter-link{
	float: left;
	background-image: url("./img/ico-sm/1458523597_twitter-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#linkedin-link{
	float: left;
	background-image: url("./img/ico-sm/1458523622_linkedin-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#instagram-link{
	float: left;
	background-image: url("./img/ico-sm/1458523607_instagram-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#github-link{
	float: left;
	background-image: url("./img/ico-sm/1458523497_github-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#spotify-link{
	float: left;
	background-image: url("./img/ico-sm/1458523558_spotify-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin-right: 15px;
	margin-bottom: 10px;
}

#deviantart-link{
	float: left;
	background-image: url("./img/ico-sm/1458523508_deviantart-square-shadow-social-media.png");
	width: 64px;
	height: 64px;
	margin: auto;
	margin-bottom: 10px;
}