@import url(https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans);
/*font-family: 'Comfortaa', cursive;
font-family: 'Noto Sans', sans-serif;*/
body{
	background-image: url("./img/bg/bokehpeach.jpg");
    background-repeat: repeat;
	font-family: 'Noto Sans', sans-serif;
}
h1{
	font-family: 'Comfortaa', cursive;
	font-size: 65px;
}