@font-face {
    font-family: defaultSerif;
    /*src: url(/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf);*/
    src: url(/fonts/Trirong/Trirong-Regular.ttf);
}

@font-face {
    font-family: defaultSans;
    /*src: url(/fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);*/
    /*src: url(/fonts/Didact_Gothic/DidactGothic.ttf);*/
    /*src: url(/fonts/Poiret_One/PoiretOne-Regular.ttf);*/
    /*src: url(/fonts/Raleway/Raleway-Regular.ttf);*/
    src: url(/fonts/Quicksand/Quicksand-Regular.ttf); /*like*/
}

.inline {
    display: inline-block;
}

.hidden {	
    display: none;
}

.horiz-flow-container {
    text-align: center;
}

.horiz-flow-container > *{
    display: inline-block;
}

.verticle-align {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 20; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#content {
    width: 100%;
    height: 100%;
}

#personal-summary {
    z-index: 5;
    transition: margin-left .5s;
    padding: 20px;
  	padding-top:20vh;
    text-align: center;
}

#personal-summary > * {
    margin-bottom: 50px;
}

#personal-summary h1 {
    font-weight: normal;
    text-align: center;
}

#personal-summary h2 {
    font-weight: normal;
    text-align: center;
}

#personal-summary h3 {
    font-weight: normal;
    text-align: center;
}

#my-image {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  background-image: url("/img/me.png");
  background-size: cover;
  border: 1px solid darkgrey;
  margin: 0;
}

#section-menu {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    background-color: white;
}

#section-menu > * {
    font-weight: normal;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

#social-media-details > * {
    margin-right: 10px;
    margin-left: 10px;
}

#menu-close-icon {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

#menu-icon {
    z-index: 15;
    margin-top: 10px;
    cursor: pointer;
}

#menu, #menu-icon {
    position: fixed;
}

#menu {
    display: inline-block;
    background-color: white;
    border-right: 1px solid black;

}

#menu ul {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

#menu li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: 14px;
    z-index: 10;
}

#footer > * {
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}

#footer a {
    text-decoration: underline;
}

a img {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: defaultSans;
}
