---
layout: default
title: Alt Berry
---
<!--{% include nav.html %}-->

<div class="content-element" id="about-me-content">
	<h2>About me</h2>
	<p class="quote">-Learning is living.</p>
    {% include lineseperator.html %}
	<!--p>Draw. Eat. Write. Play.</p-->
	<p id="about-me-p">
		<br>So who am I anyways? Let me give you a brief summary.<br><br>
		My name's Brittny and I'm a comp sci student at Carleton University who loves to code pretty much anything. On top of programming I also want to learn about how people interact with user interfaces and what design choices make or break a user's experience with a product. I hope to tailor my degree to suit my interests, and someday I want to get a master's degree in human-computer interaction or interactive art and technology.<br><br>

		But what else is there to me than school?<br><br>

		I grew up in a small city in Eastern Ontario with three amazing older sisters, the best mom ever (sorry, not sorry cause she's literally the best ;3), a sweet step dad, my hilarious dad, and the fluffiest German Sheppard/Border Collie named Balloo.<br><br>

		Some of my favourite things to do in my spare time are practicing web development, drawing, binge watching shows and cartoons, learning about other cultures, playing with my cat Tyo, and cooking (but tbh mostly eating.) Oh and I recently took up fencing which has been awesome so far!<br><br>

    	A couple things I want to get into are blogging, video editing, and 3D character modeling. I also plan on posting a series of comics and an interactive novel on this site so stay tuned!<br><br>

   		My ultimate weapon: My work ethic #dedicated<br><br>
    	My weakest link: Dancing and everything that is elegant XD
    </p>
</div>