	<div class="footer" id="social-media">
		<div id="social-media-links">
			<a id="facebook-link" href="https://www.facebook.com/im.brittny"></a>
			<a id="twitter-link" href="https://twitter.com/BrittnyLapierre"></a>
			<a id="linkedin-link" href="https://ca.linkedin.com/in/brittny-lapierre-361686b2"></a>
			<a id="instagram-link" href="https://www.instagram.com/l3rittnii/"></a>
			<a id="github-link" href="https://github.com/l3rittny"></a>
			<a id="spotify-link" href="https://play.spotify.com/user/12158936438"></a>
			<a id="deviantart-link" href="http://l3rittny-lapierre.deviantart.com/"></a>
		</div>
	<div>
</body>
</html>