
<div class="projects">
  <figure class="snip0051">
    <img src="{{ site.baseurl }}/img/ccss.png" alt="portfolio item 1 - CCSS Website"/> 
    <div class="icons">
      <a href="http://ccss.carleton.ca" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> View</a>
    </div>
    <figcaption>
      <h2>CCSS <span>WEBSITE</span></h2> 
      <!--p>Why can't I ever build character at a Miami condo or a casino somewhere?</p-->
    </figcaption> 
  </figure>

  <figure class="snip0051">
    <img src="{{ site.baseurl }}/img/cuhacking_alt.png" alt="portfolio item 2 - CU Hacking Website"/> 
    <div class="icons">
      <a href="https://github.com/CUHacking/website"  target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> View</a>
    </div>
    <figcaption>
      <h2>CUHacking <span>WEBSITE</span></h2>
      <!--p>Why can't I ever build character at a Miami condo or a casino somewhere?</p-->
    </figcaption>     
  </figure>

  <figure class="snip0051">
    <img src="{{ site.baseurl }}/img/sandrcreations.png" alt="portfolio item 3 - s and r creations"/> 
    <div class="icons">
      <a href="http://www.sandrcreations.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> View</a>
    </div>
    <figcaption>
      <h2>S & R <span>CREATIONS</span></h2>
      <!--p>Why can't I ever build character at a Miami condo or a casino somewhere?</p-->
    </figcaption>     
  </figure>
</div>


<script>
    /* Demo purposes only */  
$("figure").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);
</script>

